body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.fapeam-logo{
  height: 50px;
  float:left;
}

.fapeam-logo-list{    
  margin-bottom: -23px;
  margin-top: -2%;
  height: 50px;
  float:left;
}

.nameBrand{
  margin-left: 1rem;
  float:left;
}

.nameBrandList{
  margin-left: 1rem;
  float:left;
}

.topnav {
  overflow: hidden;
  background-color: #06995F!important;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 26px;
  font-weight: bolder;
}

/* .topnav a:hover {
  background-color: #079821;
  color: grey;
} */

.topnav a:hover {
  background-color: #1b9fa8;
}

.topnav p{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bolder;
}

.usernameContainer{
  pointer-events: none;
}

.active {
  background-color: #079821;
  color: grey;
}

.topnav .icon {
  display: none;
}

.initLogo{
  width: 50vw;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .headerSigfapeam{
    float: none;
    display: block;
    text-align: left;
  }
  .sair{
    float:left;
    margin-top: 8%;
  }
  .initLogo{width: 80%;}
  .fapeam-logo, .fapeam-logo-list{    
    margin-top: -5%;
    height: 35px;
    float:left;
  }
  .nameBrand, .nameBrandList{
    font-size: 1rem;
    margin-left: 3rem;
  }
  .topnav p{font-size: 0pt;float: left; margin-top: -10000px;}
  
}
.initLogo{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 21px;
  font-weight: bolder;
}
.headerSigfapeam-container{
  background-color: red;
}
.headerSigfapeam{
  padding-top: 2rem;
  background-color: red;
  height: 100%;
}
/*.sempreLogo{
  width: 160px;
  padding: 1%;
}


.toRight{
  text-align: center;
  justify-content: center;
  color:white;
  font-family: serif;
  font-size: 2.1875rem;
  margin-top: 4rem;
  margin-right: 5%;
}

.makeGreen{
  background-color:green ;
  border-bottom-style: solid;
  border-bottom-color: green;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
} */