.sempreLogo{
  width: 160px;
  padding: 1%;
}


.toRight{
  text-align: center;
  justify-content: center;
  color:white;
  font-family: serif;
  font-size: 2.1875rem;
  margin-top: 4rem;
  margin-right: 5%;
}

.makeGreen{
  background-color:green ;
  border-bottom-style: solid;
  border-bottom-color: green;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}