.input-login{
  display: block;
  padding: 0.450rem 0rem;
  font-size: 1.20rem;
  line-height: 1.5;
  color: #495057;
  border: 1.2px solid #ced4da;
  border-radius: 0.30rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
  /* margin-left: 3.5rem; */
  /* margin-left: 3.5rem; */
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}


.btnLogin{
  display: block;
  width: 80%;
  padding: 0.450rem 0rem;
  font-size: 1.20rem;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  background-color: #06995F;
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}

.formLoginContainer{
  margin-top: 2rem;
  margin-right: 1rem;
  width: 25%;
  float:right;
  background-color: #ececec;
  padding: 7rem 0rem;
  border-radius: 10px;
}

.btnContainer{text-align: center;}

@media screen and (max-width: 600px){
  .formLoginContainer{float: none; width: 90%; margin-left: 5%; margin-right: 5%; padding: }
}