.containerPublicHomeScreen{
    width: 100%;
    height: 100vh;
}

.upContainerContainer{
    background-image: url("../../Assets/uea_background.jpg");
    background-size: 100%;
}
.upContainer{
    width: 100%;
    height: 70vh;
    background-color:rgba(0, 102, 0, 0.8);
}

.welcomeContainer{
    width: 70%;
    float:left;
}
.welcomeContainer h1{
    padding-left: 8rem;
    font-size: 5vw;
    color:white;
}

.signInUpContainer{
    width: 30%;
    float:left;
    text-align:center;
}

.buttonsContainer{
    padding-top: 30%;
    margin-top: 2vh;
    height: 35vh;
    width: 25vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    text-align:center;
    background-color:#d8d8d8;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alunosContainer{
    width: 100%;
}
.buttonContainer button{
    width: 80%;
    padding: 1rem 0rem;
    margin-bottom: 0.6rem;
    border:none;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
}

.btn-signIn{
    background-color: #007F1C;
}

.btn-signUp{
    background-color: #003308;
}