
/*.a-signUpScreen{
    text-decoration: underline;
  }*/
  
  .imgLoginLogo-signUpScreen{
    border-radius: 25px;
    border: 2px solid #06995F;
    padding: 20px; 
    width: 250px;
    height: 200px;
  }
  
  .labTitle-signUpScreen{
      color: #06995F;
      margin-top: 6%;
      margin-left: 45%;
      font-weight: bold;
  }
  
  .inputsDinamico-signUpScreen{
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    color: green;
    background-color: #fff;
    width: 12rem;
    margin: 0.3rem;
    border-radius: 1rem;
    border: 0.1rem solid #ced4da;
  }

  .inputs-signUpScreen{
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    color: green;
    background-color: #fff;
    width: 10rem;
    margin: 0.3rem;
    border-radius: 1rem;
    border: 0.1rem solid #ced4da;
  }

  .buttonVoltar-signUpScreen{
    background: #E9B526;
    opacity: 0.7;
    color:white;
    width: 6rem;
    height: 2rem;
    margin-top: 0.6rem;
    margin-left: 0.4rem;  
    border: 0;
    border-radius: 40px;
  }

  .buttonSalvar-signUpScreen{
    background: #06995F;
    opacity: 0.7;
    color:white;
    width: 6rem;
    height: 2rem;
    margin-top: 0.6rem;
    margin-left: 0.4rem;  
    border: 0;
    border-radius: 40px;
  }
  
  .componentsLab-signUpScreen{
      display: flex;
      flex-direction: row;
      height: 90%;
      margin-left: 35%;
      margin-right: 5%;
      margin-top: 2%;
  
  }

  .fieldsLab-signUpScreen{
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-left: 2%;
      margin-top: 1rem;
  }

  .fieldsLabDinamico-signUpScreen{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin-left: 0.1rem;
    margin-top: 1rem;
}