.grid-register{

  
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5rem 18rem 50rem 50rem 5rem;
  
  grid-template-areas: 
      "topp"
      "photo"
      "personal"
      "academic"
      "button"
}
.topp{
  grid-area: topp;
}
.photo{
  grid-area: photo;
}
.persona{
  grid-area: personal;
}
.academic{
  grid-area: academic;
}
.button1{
  grid-area: button;
}

.grid-registerTop{
  /* background-color:#82b74b; */
  background:  #405d27;
  color: white;
  text-align: center;
  border-radius: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-registerTopTitle{
  margin-top: 1.2rem;
}

.grid-registerPhoto{
  background-color: #bdcebe;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.grid-registerPhotoImg{
  height: 75%;
}

.grid-registerPhotoText{
  text-align: center
}

.grid-registerPersonal{
  background: #b5e7a0;
  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin: 2%;

}

.grid-registerPersonalTitle{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.grid-registerPersonalText{
  text-transform: uppercase;
  font-weight: bold;
}

.grid-registerPersonalInput{
  width: 100%;
  padding: 12px 20px;

  border: 0;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
}

.grid-registerPersonalInput:hover{
  background: #ccc;
}

.grid-registerPersonalInput:focus{
  background: #deeaee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-registerAcademic{
  /* background: rgb(25, 194, 126); */
  background:#bdcebe;
  padding: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  margin: 2%;
}

.grid-registerAcademicTitle{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.grid-registerAcademicText{
  text-transform: uppercase;
  font-weight: bold;
}

.grid-registerAcademicInput{
  width: 100%;
  padding: 12px 20px;

  border: 0;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
}

.grid-registerAcademicDropdown{
  width: 100%;
  height: 40px;

  border: 0;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
}
.myControlClassName{  
  height: 40px;
  border: 0px;
  color: white;
}

.grid-registerAcademicInput:hover{
  background: #ccc;
}

.grid-registerAcademicInput:focus{
  background: #b5e7a0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.grid-registerButton{
  clear: both;
}

.grid-registerButtonBoxLeft{
  float: left;
  margin: 3%;
  padding: 4% 12%;
  background: #86af49;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
  cursor: pointer;
}

.grid-registerButtonBoxLeft:hover{
  background: #3dff3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.grid-registerButtonBoxRight{
  float: right;
  margin: 3%; 
  padding: 4% 12%;
  background:  #405d27;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
  cursor: pointer;
}

.grid-registerButtonBoxRight:hover{
  background: grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 50rem){
  .grid-register{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 5rem 50rem 5rem ;
    
    grid-template-areas: 
        "topp topp topp"
        "photo personal academic"
        ". . button"

  }
  
  #content .Dropdown-control {
    margin-top : -0.1rem;
    height: 40px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
  }

  .grid-registerTop{
    margin-bottom: 0.5rem;
    margin-left: 3rem;
  }

  .grid-registerPhoto{
    margin-bottom: 32rem;
  }

  .grid-registerPhotoImg{
    height: 12rem;
  }


  .grid-registerButton{
    transform: translateX(165%);
  }

  .grid-registerButtonBoxLeft{
    transform: translateX(-100%);
  }
  .grid-registerButtonBoxRight{
    transform: translateX(10%);
  }

}
