.grid-studentsContainer{
  border: 2px #352828 solid;
  display: inline-block;
}

.grid-studentsItem{
  display: block;
  float: left;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  text-decoration: none;
  text-align: center;
}

.grid-studentsImg{
  border: #352828 0.2rem solid;
  border-radius: 2rem;
}

.grid-studentsImg:hover{
  background: #69ee40
}